.form-horizontal .control-label {
    padding-top: 0;
}

.h2, h2 {
    margin-bottom: 10px;
}

.main-container {
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
}

table tbody>tr>td.vert-align{
    vertical-align: middle;
}