<div class="form-group user-tile" (click)="onTabletClick($event)">
    <a href="#">
        <div class="panel panel-info">
            <div class="panel-heading">{{ tablet.getFullName() }}</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <tbody>
                        <tr *ngIf="tablet.description">
							<td class="vert-align"><span class="glyphicon glyphicon-pencil"></span></td>
                            <td>{{ tablet.description }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </a>
</div>