<nav class="navbar navbar-inverse navbar-fixed-top" *ngIf="!isFullScreenMode">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/']">University Information System</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <div class="nav navbar-nav navbar-right">
                <a class="navbar-brand" *ngIf="authGuard.canActivate()">Welcome {{pageTitleService.getLoggedInUserName()}}</a>
                <a class="navbar-brand" [routerLink]="['login', 'logout']" *ngIf="authGuard.canActivate()">Logout</a>
                <a class="navbar-brand" [routerLink]="['login', 'login']" *ngIf="!authGuard.canActivate()">Login</a>
            </div>

            <ul class="nav navbar-nav">
                <li><a [routerLink]="['paneladmin', 'users']" *ngIf="isAdminGuard.canActivate()">Users Management</a></li>
                <li><a [routerLink]="['paneladmin', 'tablets']" *ngIf="isAdminGuard.canActivate()">Tablets Management</a></li>
                <li><a [routerLink]="['paneluser',  'tablets']" *ngIf="isUserGuard.canActivate()">My Tablets</a></li>
                <li><a [routerLink]="['paneluser',  'templates']" *ngIf="isUserGuard.canActivate()">My Templates</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <h1 id="pageTitle">{{title}}</h1>

    <router-outlet></router-outlet>
</div>

<div class="container-fluid" *ngIf="!isFullScreenMode">
    <hr>

    <footer>
        <p class="text-center">PUM2 &copy; {{ currentYear }} Szymon Bartnik, Mateusz Małota</p>
    </footer>
</div>
