<div>
    <!-- Panel admin - users -->
    <div class="col-sm-6 col-md-8">
        <user-tile *ngFor="let user of users"
                   [user]="user"
                   (userClicked)="onUserClicked($event)"
                   class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        </user-tile>
    </div>
    
    <!-- Panel admin - tablets -->
    <div class="col-sm-6 col-md-4" [hidden]="!selectedUser">
        <div id="headingTablets">
            <p>Tablets of selected user</p>
            <h2>{{ selectedUser ? selectedUser.getFullName() : '' }}</h2>
        </div>
        <user-tile *ngFor="let user of users"
                   [user]="user"
                   (userClicked)="onUserClicked($event)"
                   class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        </user-tile>
    </div>
</div>
