<div>
    <!-- Panel admin - users -->
    <div class="col-md-6">
        <user-tile *ngFor="let user of users"
                   [user]="user"
                   (userClicked)="onUserClicked($event)">
        </user-tile>
    </div>
    
    <!-- Panel admin - tablets -->
    <div class="col-md-6" [hidden]="!selectedUser">
        <div id="headingTablets">
            <p>Tablets of selected user</p>
            <h2>{{ selectedUser ? selectedUser.getFullName() : '' }}</h2>
        </div>
        <user-tile *ngFor="let user of users"
                   [user]="user"
                   (userClicked)="onUserClicked($event)">
        </user-tile>
    </div>
</div>
