tbody tr:first-child td {
    border-top: none;
}

.user-tile {
    overflow: hidden;
}

.user-tile:hover * {
    background: #d9edf7;
    color: #31708f;
}

.user-tile:hover .panel-heading {
    background: white;
    color: #31708f;
    font-weight: bolder;
}

.user-tile > a {
    text-decoration: none;
}

.form-horizontal .control-label {
    text-align: left;
}

table {
    margin-bottom: 0;
}

table tbody>tr>td.vert-align{
    vertical-align: middle;
}