tbody tr:first-child td {
    border-top: none;
}

.user-tile {
    overflow: hidden;
}

.user-tile:hover * {
    background: #337ab7;
    color: white;
}

.user-tile:hover .panel-heading {
    background: white;
    color: #337ab7;
    font-weight: bolder;
}

.user-tile > a {
    text-decoration: none;
}

.form-horizontal .control-label {
    text-align: left;
}