<!-- List of users's tablets -->
<div class="col-sm-6 col-md-4">
    <!-- Empty info -->
    <blockquote class="col-md-12" *ngIf="!(tablets && tablets.length > 0)">
        You don't have any tablets you can manage.<br />
        Ask system administrator to provide you with one.
    </blockquote><!-- / Empty info -->

    <masonry>
        <masonry-brick *ngFor="let tablet of tablets"
                       class="col-xs-12 col-sm-6 col-md-6 col-lg-6 masonry-brick">
            <tablet-tile [tablet]="tablet"
                         (tabletClicked)="onTabletClicked($event)">
            </tablet-tile>
        </masonry-brick>
    </masonry>
</div> <!-- / List of users's tablets -->
<!-- Selected tablet's entities part -->
<div class="col-sm-6 col-md-8" *ngIf="selectedTablet">
    <div class="heading-no-margin">
        <h2>{{ selectedTablet.getFullName() }}</h2>
        <h4>{{ selectedTablet.description }}</h4>

        <p class="btn-toolbar text-center">
            <button class="btn btn-primary"
                    (click)="onSelectedTabletGoToPage($event)">
                <span class="glyphicon glyphicon-play-circle"></span>
                Go to tablet's page
            </button>
        </p>
    </div>

    <!-- List of latest entries -->
    <h3 class="heading-no-margin">Latest entries</h3>
	<!-- Empty info -->
	<blockquote class="col-md-12" *ngIf="!(entries && entries.length > 0)">
		The selected tablet has no content set yet. <br/>
		Do it by clicking one of the templates below or on <strong>My templates</strong> tab.
	</blockquote><!-- / Empty info -->
    <masonry>
        <masonry-brick *ngFor="let entry of entries"
                       class="col-xs-12 col-sm-12 col-md-6 col-lg-4 masonry-brick">
            <entry-tile [entry]="entry"
                        (entryClicked)="onEntryClicked($event)">
            </entry-tile>
        </masonry-brick>
    </masonry><!-- / List of latest entries -->
    <!-- List of templates -->
    <h3 class="heading-no-margin">My templates</h3>
	<!-- Empty info -->
	<blockquote class="col-md-12" *ngIf="!(templates && templates.length > 0)">
		You don't have any templates you can set on this tablet.<br />
		Add one on <strong>My templates</strong> tab.
	</blockquote><!-- / Empty info -->
    <masonry>
        <masonry-brick *ngFor="let template of templates"
                       class="col-xs-12 col-sm-12 col-md-6 col-lg-4 masonry-brick">
            <template-tile [template]="template"
                           (templateClicked)="onTemplateClicked($event)">
            </template-tile>
        </masonry-brick>
    </masonry><!-- / List of templates -->

</div> <!-- / Selected tablet's entities part -->