tbody tr:first-child td {
    border-top: none;
}

.entry-tile {
    overflow: hidden;
}

.entry-tile:hover * {
    background: #337ab7;
    color: white;
}

.entry-tile:hover .panel-heading {
    background: white;
    color: #337ab7;
    font-weight: bolder;
}

.entry-tile > a {
    text-decoration: none;
}

.form-horizontal .control-label {
    text-align: left;
}

table {
    margin-bottom: 0;
}

table tbody>tr>td.vert-align{
    vertical-align: middle;
}